* {
  font-family: Arial, Helvetica, sans-serif;
}


.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.top {
    order: 0;
    flex: 0 1 200px;
    align-self: auto;
}

.ausbildung {
    order: 0;
    flex: 0 1 200px;
    align-self: auto;
}

.berufliche-erfahrungen {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    color: white;
    background: radial-gradient(75% 50% at 50% 44.9%, #352541 0%, var(--BG, rgb(17, 16, 19))/* {"name":"BG"} */ 100%);
}

.kentnisse {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}
